@model IEnumerable<SistemaManejoEmpleados.Models.Empleado>

@{
    ViewData["Title"] = "Lista de Empleados";
}

<h2 class="mb-4">Lista de Empleados</h2>
<p><a asp-action="Agregar" class="btn btn-primary">Registrar Nuevo</a></p>

<table class="table table-bordered table-striped">
    <thead class="table-dark">
        <tr>
            <th>Nombre</th>
            <th>Cédula</th>
            <th>Correo</th>
            <th>F. Nacimiento</th>
            <th>Departamento</th>
            <th>Cargo</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var emp in Model)
        {
            <tr>
                <td>@emp.NombreCompleto</td>
                <td>@emp.Cedula</td>
                <td>@emp.Correo</td>
                <td>@emp.FechaNacimiento.ToShortDateString()</td>
                <td>@emp.Departamento?.Nombre</td>
                <td>@emp.Cargo?.Titulo</td>
                <td>
                    <a asp-action="Editar" asp-route-id="@emp.Id" class="btn btn-sm btn-warning">Editar</a>
                    <a asp-action="Eliminar" asp-route-id="@emp.Id" class="btn btn-sm btn-danger">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>

